.idea
*.php~
.htaccess
application/config/database.php
/stw_thumbs
/docs

logs
/application/tests/build/coverage
/application/config/carabiner.php

*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

/vendor
