body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:189px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:189px;
}
#u2 {
  position:absolute;
  left:2px;
  top:86px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:249px;
  width:195px;
  height:449px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:449px;
}
#u4 {
  position:absolute;
  left:2px;
  top:216px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:195px;
  top:0px;
  width:2px;
  height:189px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:189px;
}
#u6 {
  position:absolute;
  left:2px;
  top:86px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:195px;
  top:189px;
  width:2px;
  height:449px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:449px;
}
#u8 {
  position:absolute;
  left:2px;
  top:216px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:10px;
  width:190px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:10px;
  top:90px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:12px;
  top:140px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:11px;
  top:250px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:11px;
  top:310px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:11px;
  top:370px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:11px;
  top:420px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:9px;
  top:475px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:9px;
  top:530px;
  width:190px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:0px;
  top:189px;
  width:195px;
  height:59px;
  font-family:'Verdana Regular', 'Verdana';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:59px;
}
#u19 {
  position:absolute;
  left:2px;
  top:21px;
  width:191px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:12px;
  top:194px;
  width:183px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:9px;
  top:580px;
  width:183px;
  height:59px;
  font-family:'Verdana Regular', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6BB0D6;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:59px;
}
#u22 {
  position:absolute;
  left:2px;
  top:21px;
  width:179px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:9px;
  top:588px;
  width:183px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:242px;
  top:23px;
  width:264px;
  height:38px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:38px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:242px;
  top:91px;
  width:48px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:242px;
  top:344px;
  width:79px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:242px;
  top:544px;
  width:37px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:242px;
  top:744px;
  width:71px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:249px;
  top:128px;
  width:276px;
  height:205px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:20px;
  width:271px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:40px;
  width:271px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:60px;
  width:271px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:80px;
  width:271px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:100px;
  width:271px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:120px;
  width:271px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:140px;
  width:271px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:160px;
  width:271px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:180px;
  width:271px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:249px;
  top:383px;
  width:276px;
  height:145px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:20px;
  width:271px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:40px;
  width:271px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:60px;
  width:271px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:80px;
  width:271px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:100px;
  width:271px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:120px;
  width:271px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:249px;
  top:581px;
  width:276px;
  height:145px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:20px;
  width:271px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:40px;
  width:271px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:60px;
  width:271px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:80px;
  width:271px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:100px;
  width:271px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:120px;
  width:271px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:249px;
  top:776px;
  width:276px;
  height:145px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:20px;
  width:271px;
  height:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:40px;
  width:271px;
  height:20px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:60px;
  width:271px;
  height:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:80px;
  width:271px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:100px;
  width:271px;
  height:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:120px;
  width:271px;
  height:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:469px;
  top:328px;
  width:51px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:469px;
  top:523px;
  width:51px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:469px;
  top:916px;
  width:51px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:469px;
  top:721px;
  width:51px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:783px;
  top:134px;
  width:10px;
  height:34px;
}
#u108_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u108_end {
  position:absolute;
  left:-5px;
  top:17px;
  width:20px;
  height:18px;
}
#u108_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:34px;
}
#u109 {
  position:absolute;
  left:890px;
  top:134px;
  width:10px;
  height:33px;
}
#u109_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u109_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u109_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:33px;
}
#u110 {
  position:absolute;
  left:788px;
  top:128px;
  width:108px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:91px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:4px;
  width:108px;
  height:2px;
}
#u111 {
  position:absolute;
  left:896px;
  top:161px;
  width:234px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:217px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:4px;
  width:234px;
  height:2px;
}
#u112 {
  position:absolute;
  left:586px;
  top:142px;
  width:98px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:706px;
  top:142px;
  width:75px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:808px;
  top:142px;
  width:72px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:586px;
  top:162px;
  width:203px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:186px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:4px;
  width:203px;
  height:2px;
}
#u119 {
  position:absolute;
  left:581px;
  top:183px;
  width:314px;
  height:28px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:28px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:810px;
  top:274px;
  width:100px;
  height:25px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u122 {
  position:absolute;
  left:600px;
  top:274px;
  width:200px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u123 {
  position:absolute;
  left:610px;
  top:349px;
  width:520px;
  height:16px;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:610px;
  top:384px;
  width:520px;
  height:16px;
}
#u126 {
  position:absolute;
  left:16px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u127 {
  position:absolute;
  left:610px;
  top:419px;
  width:520px;
  height:16px;
}
#u128 {
  position:absolute;
  left:16px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u129 {
  position:absolute;
  left:591px;
  top:242px;
  width:82px;
  height:22px;
  font-size:18px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:591px;
  top:316px;
  width:87px;
  height:22px;
  font-size:18px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:591px;
  top:461px;
  width:62px;
  height:22px;
  font-size:18px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:600px;
  top:493px;
  width:100px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u136 {
  position:absolute;
  left:578px;
  top:134px;
  width:112px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:692px;
  top:134px;
  width:112px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  position:absolute;
  left:805px;
  top:134px;
  width:112px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
