body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:241px;
  top:0px;
  width:681px;
  height:607px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:607px;
}
#u1 {
  position:absolute;
  left:2px;
  top:296px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:92px;
  width:729px;
  height:551px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:551px;
}
#u3 {
  position:absolute;
  left:2px;
  top:268px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:665px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:665px;
}
#u6 {
  position:absolute;
  left:2px;
  top:324px;
  width:196px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:87px;
  width:195px;
  height:578px;
  font-family:'Verdana Regular', 'Verdana';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:578px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
}
#u10 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:195px;
  top:0px;
  width:2px;
  height:189px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:189px;
}
#u12 {
  position:absolute;
  left:2px;
  top:86px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:195px;
  top:189px;
  width:2px;
  height:449px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:449px;
}
#u14 {
  position:absolute;
  left:2px;
  top:216px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:10px;
  width:190px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:6px;
  top:162px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:6px;
  top:212px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:6px;
  top:312px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:6px;
  top:362px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:6px;
  top:409px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:6px;
  top:458px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:6px;
  top:508px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:6px;
  top:559px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:6px;
  top:257px;
  width:210px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:6px;
  top:609px;
  width:210px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:11px;
  top:97px;
  width:174px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
#u27 {
  position:absolute;
  left:83px;
  top:72px;
  width:60px;
  height:29px;
  font-size:8px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:13px;
  top:129px;
  width:172px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:100px;
  top:138px;
  width:60px;
  height:29px;
  font-size:8px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:249px;
  top:302px;
  width:723px;
  height:367px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:367px;
}
#u34 {
  position:absolute;
  left:2px;
  top:176px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
