body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:-7px;
  width:200px;
  height:665px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:665px;
}
#u2 {
  position:absolute;
  left:2px;
  top:325px;
  width:196px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:80px;
  width:195px;
  height:606px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:606px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:-7px;
  width:195px;
  height:87px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
}
#u6 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:195px;
  top:-7px;
  width:2px;
  height:189px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:189px;
}
#u8 {
  position:absolute;
  left:2px;
  top:86px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:195px;
  top:182px;
  width:2px;
  height:449px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:449px;
}
#u10 {
  position:absolute;
  left:2px;
  top:216px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:3px;
  width:190px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:6px;
  top:155px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:6px;
  top:205px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:6px;
  top:305px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:6px;
  top:355px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:6px;
  top:402px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:6px;
  top:500px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:6px;
  top:550px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:6px;
  top:601px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:6px;
  top:250px;
  width:210px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:6px;
  top:651px;
  width:210px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:11px;
  top:90px;
  width:174px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:83px;
  top:65px;
  width:60px;
  height:29px;
  font-size:8px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:13px;
  top:122px;
  width:169px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:100px;
  top:131px;
  width:60px;
  height:29px;
  font-size:8px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:6px;
  top:450px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:271px;
  top:90px;
  width:64px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:271px;
  top:112px;
  width:122px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:459px;
  top:90px;
  width:139px;
  height:15px;
  color:#0000FF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:459px;
  top:112px;
  width:154px;
  height:15px;
  color:#0000CC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:400px;
  top:410px;
  width:553px;
  height:90px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:90px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:213px;
  top:127px;
  width:136px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:254px;
  top:28px;
  width:97px;
  height:38px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:250px;
  top:157px;
  width:685px;
  height:141px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:676px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:34px;
  width:680px;
  height:34px;
  text-decoration:underline;
  color:#008000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:34px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:676px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:68px;
  width:680px;
  height:34px;
  text-decoration:underline;
  color:#008000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:676px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:102px;
  width:680px;
  height:34px;
  text-decoration:underline;
  color:#008000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:676px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:630px;
  top:82px;
  width:430px;
  height:45px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:45px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:250px;
  top:180px;
  width:740px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u56 {
  position:absolute;
  left:952px;
  top:303px;
  width:38px;
  height:38px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u57 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:250px;
  top:315px;
  width:210px;
  height:15px;
  text-decoration:underline;
  color:#008000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:250px;
  top:190px;
  width:85px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
