$ea-green: #44a657;
$ea-gray: #757575;
$ea-light-gray: #ebebeb;
$ea-blue: #2497BA;
$ea-blue1: #428bca;

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$navbar-height: 35px;
$navbar-offset: ($navbar-height + 8px);
$sidebar-width: 85px;
$navbar-brand-height: 90px;
$logo-height: 55px;

body, #wrapper {background-color: $ea-light-gray; }
#navbar-wrapper {
    width: calc(100% - #{$sidebar-width}); float: left; min-height: 1px;
    .navbar-top {
        min-height: $navbar-height; height: $navbar-height;
        background-color: $ea-light-gray; border: none;
        .navbar-top-links {
            margin-right: $padding-large-vertical;
            .dropdown-user li {
                margin: 8px 0;
            }
            .dropdown-menu {
                min-width: 230px;
                border-radius: 0 0 4px 4px;
            }
            .dropdown.open > a {
                &:hover, &:focus, & {
                    background-color: transparent;
                }
            }
            li > a {
                &:hover, &:focus {
                    background-color: transparent;
                    color: $ea-green;
                }
            }
        }
    }
}
#sidebar-wrapper {
    width: $sidebar-width; float: left;
    min-height: 1px; height: 100%;
    background-color: white;
    .navbar-side {
        background-color: white; border-color: white; text-align: center; min-height: 100%;
        position: fixed; top: 0px;
        &.affix-top {position: static; top: 0px;}
        &.affix {position: fixed; bottom: 0px; top: initial;}
        &.affix-bottom {position: fixed; top: 0px;}
        .logo-header {height: $navbar-brand-height;}
        .navbar-brand{
            height: $navbar-brand-height;
            width: $sidebar-width;
            text-align: center;
            background-color: $ea-green;
            img {height: $logo-height;}
        }
        .sidebar-collapse {padding-left: 0px; padding-right: 0px; padding-top: $padding-base-vertical;}
        .nav {
            > li > a > i, > div > li > a > i {
                color: $ea-gray;
                width: 100%;
                text-align: center;
                display: block;
                height: 24px;
                margin-bottom: 2px;
            }
        }
    }
}
#page-wrapper {
    width: calc(100% - #{$sidebar-width}); float: left;
    min-height: 1px;
    padding: 1px 15px;
    #page-inner {
        padding: $padding-large-vertical;
        > div.row:first-child {
            .page-header {margin-top: -$navbar-offset;}
        }
        .choose-school {margin-top: -$navbar-offset;}
    }
}

.navbar-top .nav > li {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.navbar-top .nav > li > a {
    position: relative;
    display: block;
    padding-top: 15px; padding-left: 0px;
    margin: 0px;
}

.navbar-top .nav > li > a > i:first-child {
  margin-right: 2px;
}

.active-menu {
    background-color: #fff !important;
    color: #fff !important;
    border-right: 4px solid #44a657;
}
.active-menu i {
  color: #fff !important;
}
.arrow {
  float: right;
  margin-top: 8px;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}

.nav-second-level li a {
  padding-left: 37px;
}

.nav-third-level li a {
  padding-left: 55px;
}

.sidebar-collapse {
    //background-color: white;
    .nav {padding: 0;}
     > .nav > li > a, > .nav > div > li > a  {
         padding: 7px 0px;
         &:hover, &:focus {outline: 0; color: #44a657;}
     }
     > .nav > li,  > .nav > div > li { border-bottom: none;}
    .nav > li > a, .nav > div > li > a {
        color: $ea-gray;
        background: transparent;
        text-shadow: none;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0px;
    }
}


ul.nav.nav-second-level.collapse.in {
  background: #17191B;
}

.nav > li > a > i,
.nav > div > li > a > i {
    margin-right: 10px;
    color: #666;
}

.sidebar-collapse .nav > li.active-menu > a,
.sidebar-collapse .nav > div > li.active-menu > a
 {
    color: #44a657 !important;
    font-weight: bold;
}

.sub-menu a {
    color: #51AE65;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.nav>li>a, .nav > div > li > a {
    position: relative;
    display: block;
    padding: 7px 20px;
}

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

@media(min-width:901px) {
/*#page-wrapper {
    margin: 0 0 0 90px;
    padding: 1px 30px;
}

.navbar-side {
    z-index: 1;
    width: 90px;
    text-align: center;
}

  .navbar {
    border-radius: 0px;
  }*/
}

@media(max-width: 900px) {
  /*#page-wrapper {
    margin: 0 0 0 180px;
    padding: 15px 30px;
    min-height: 1200px;
  }

  .top-navbar .navbar-brand { width: 180px;}

  .navbar-side {
    z-index: 1;
    width: 180px;
  }*/

}

@media(max-width: 768px) {
  /*#page-wrapper {
    margin: 0 0 0 0px;
    padding: 15px 30px;
    min-height: 1200px;
  }

  .top-navbar .navbar-brand { width: 260px;}

  .navbar-side {
    z-index: 1500;
    width: 260px;
    background-color: #2b2e33;
    top: 60px;
  }

  .navbar-default .navbar-form {
     border: none;
     box-shadow: none;
     padding-left: 25px; padding-right: 25px;
  }*/

}

@media(max-width:480px) {
  .page-header small {
    display: block;
    padding-top: 14px;
    font-size: 19px;
  }
}

/* Splash window styles */
.chardinjs-ext-el {
    padding-left: 40px;
    padding-right: 40px;
    width: calc(100% - #{$sidebar-width});
    left: $sidebar-width; /* value of sidebar */
}

.chardinjs-ext-el > div.row > div {
    padding-bottom: 50px;
}

#chardin_template { display: none;}

.chardinjs-helper-layer.chardinjs-right {
    border-radius: 5px;
}

.chardinjs-show-element {
  z-index: 0;
}