body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:-7px;
  width:200px;
  height:665px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:665px;
}
#u2 {
  position:absolute;
  left:2px;
  top:325px;
  width:196px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:80px;
  width:195px;
  height:578px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:578px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:-7px;
  width:195px;
  height:87px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
}
#u6 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:195px;
  top:-7px;
  width:2px;
  height:189px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:189px;
}
#u8 {
  position:absolute;
  left:2px;
  top:86px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:195px;
  top:182px;
  width:2px;
  height:449px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:449px;
}
#u10 {
  position:absolute;
  left:2px;
  top:216px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:3px;
  width:190px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:6px;
  top:155px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:6px;
  top:205px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:6px;
  top:305px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:6px;
  top:355px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:6px;
  top:402px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:6px;
  top:451px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:6px;
  top:501px;
  width:214px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:6px;
  top:552px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:6px;
  top:250px;
  width:210px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:6px;
  top:602px;
  width:210px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:11px;
  top:90px;
  width:174px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:83px;
  top:65px;
  width:60px;
  height:29px;
  font-size:8px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:13px;
  top:122px;
  width:169px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:100px;
  top:131px;
  width:60px;
  height:29px;
  font-size:8px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:250px;
  top:165px;
  width:54px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:249px;
  top:115px;
  width:55px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:811px;
  top:115px;
  width:46px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:427px;
  top:115px;
  width:52px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:339px;
  top:115px;
  width:53px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:593px;
  top:115px;
  width:67px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:695px;
  top:115px;
  width:81px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:514px;
  top:115px;
  width:43px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:249px;
  top:134px;
  width:608px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:4px;
  width:608px;
  height:2px;
}
#u47 {
  position:absolute;
  left:228px;
  top:30px;
  width:197px;
  height:37px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:243px;
  top:98px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:325px;
  top:98px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:415px;
  top:98px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:495px;
  top:98px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:585px;
  top:98px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:695px;
  top:98px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:785px;
  top:98px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:270px;
  top:340px;
  width:340px;
  height:120px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:270px;
  top:200px;
  width:395px;
  height:87px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:30px;
  width:390px;
  height:52px;
  color:#0000FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:52px;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:782px;
  top:130px;
  width:93px;
  height:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u64 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:777px;
  top:105px;
  width:10px;
  height:34px;
}
#u65_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u65_end {
  position:absolute;
  left:-5px;
  top:17px;
  width:20px;
  height:18px;
}
#u65_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:34px;
}
#u66 {
  position:absolute;
  left:867px;
  top:105px;
  width:10px;
  height:33px;
}
#u66_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u66_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u66_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:33px;
}
#u67 {
  position:absolute;
  left:781px;
  top:99px;
  width:92px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:75px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  height:2px;
}
