/*----------------------------------------------
Nada Solutions
EASOL new interface UI redesign
===============================================
Color Codes:

Green: #44a657
Grey: #757575
Dark Grey: #232730


BG Grey: #ebebeb
Alternating field grey: #f9f9f9

------------------------------------------------*/
@import "_typography.css";
@import "layout.css";

/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/

.no-boder {
  border: 1px solid #f3f3f3;
}

.square-btn-adjust {
  border: 0px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.alert p {
  padding-top: 0;
}

.panel {
  border-radius: 0px;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
/* background-color: #FAFAFA; */
  border-radius: 0;
}
.loading {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: #fff;
  background-image: url('../img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.modal-ajax-content {
  min-height: 200px;
}
/*----------------------------------------------
   DASHBOARD STYLES
------------------------------------------------*/
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid transparent;
    font-weight: 300;
}

.panel-left {
  width: 35%;
  height: 158px;
  background: #5CB85C;
}

.panel-left .fa-5x {
  font-size: 11em;
  color: rgba(255, 255, 255, 0.15);
  padding: 40px 0;
  margin-bottom: 30px;
}

.panel-right {
  width: 65%;
  height: 158px;
  background: transparent;
  margin-bottom: 0;
  color: #fff;
}

.panel-right h3 {
  font-size: 50px;
  padding: 31px 10px 13px;
  color: rgba(255, 255, 255, 0.96);
}

.panel-back {
  background-color: #fff;
}

.panel-default {
  border-color: #ECECEC;
}

.panel-default > .panel-heading {
  color: #000;
  border-color: #FFF;
  font-weight: bold;
  background: transparent;
  font-size: 16px;
}


.panel-heading:not(.default) {
    padding: 15px 0px 20px 0px;
    border-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.jumbotron, .well {
  background: #fff;
}

.noti-box {
  min-height: 100px;
  padding: 20px;
}

.noti-box .icon-box {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}

.text-box p {
  margin: 0 0 3px;
}

.main-text {
  font-size: 25px;
  font-weight: 600;
}

.set-icon {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.panel-primary {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}

.green {
  background-color: #5cb85c;
  color: #fff;
}

.blue {
  background-color: #4CB1CF;
  color: #fff;
}

.red {
  background-color: #F0433D;
  color: #fff;
}

.brown {
  background-color: #f0ad4e;
  color: #fff;
}

.back-footer-red {
  background-color: #F0433D;
  color: #fff;
  border-top: 0px solid #fff;
}

.icon-box-right {
  display: block;
  float: right;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}

.main-temp-back {
  background: #8702A8;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.main-temp-back .text-temp {
  font-size: 40px;
}

.back-dash {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #2EA7EB;
  color: #fff;
}

.back-dash p {
  padding-top: 16px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  text-align: justify;
}

.color-bottom-txt {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}
     /*CHAT PANEL*/
/*Charts*/

.main-chart {
  background: #fff;
}

.easypiechart-panel {
  text-align: center;
  padding: 1px 0;
  margin-bottom: 20px;
}

.placeholder h2 {
  margin-bottom: 0px;
}

.donut {
  width: 100%;
}

.easypiechart {
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 20px auto 10px auto;
}

.easypiechart .percent {
  display: block;
  position: absolute;
  font-size: 26px;
  top: 38px;
  width: 120px;
}

#easypiechart-blue .percent {
  color: #30a5ff;
}

#easypiechart-teal .percent {
  color: #1ebfae;
}

#easypiechart-orange .percent {
  color: #ffb53e;
}

#easypiechart-red .percent {
  color: #ef4040;
}

.chat-panel .panel-body {
  height: 450px;
  overflow-y: scroll;
}

.chat-box {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat-box li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
  margin-left: 90px;
}

.chat-box li .chat-body p {
  margin: 0;
  color: #8d8888;
}

.chat-img>img {
  margin-left: 20px;
}

footer p {
  font-size: 14px;
}
/*----------------------------------------------
    MENU STYLES
------------------------------------------------*/


.user-image {
  margin: 25px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-height: 170px;
  max-width: 170px;
}


/*.dropdown-tasks {
  width: 255px;
}

.dropdown-tasks .progress {
  height: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0px;
}

.dropdown-tasks > li > a {
  padding: 0px 15px;
}

.dropdown-tasks p {
  font-size: 13px;
  line-height: 21px;
  padding-top: 4px;
<<<<<<< HEAD
}*/

/*----------------------------------------------
    UI ELEMENTS STYLES
------------------------------------------------*/
.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

/*----------------------------------------------
    EASOL STYLES
------------------------------------------------*/
.txt-annotation { color: #cccccc; }

.form-inline .form-group {
  margin-bottom: 15px;
  padding-right: 10px;
}
.tab-content {
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
}
table {font-size: 14px;}
svg { display: block;
}
.choose-school h3 {margin-bottom: 15px;}

.grades-table .table > tbody > tr > td {
    border-top: none;
    padding: 10px 0px 10px 15px;
}

.grades-table .grade_color .label {
    display: inline-block;
    width: 25px;
    font-size: 14px;
    font-weight: 300;
}

/*.navbar-side {
    z-index: 1;
    width: 90px;
    text-align: center;
}*/

.fa-dashboard:before,
.fa-tachometer:before,
.fa-graduation-cap:before,
.fa-edit:before,
.fa-th:before,
.fa-qrcode:before,
.fa-table:before,
.fa-cubes:before,
.fa-bar-chart:before,
.fa-cog:before,
.fa-sliders:before,
.fa-usera:before
 {
    content: none !important;
}

i.fa.fa-dashboard { background: url(../img/da.png) no-repeat center; }
i.fa.fa-tachometer { background: url(../img/da.png) no-repeat center; }
i.fa.fa-graduation-cap { background: url(../img/st.png) no-repeat center; }
i.fa.fa-edit { background: url(../img/gr.png) no-repeat center; }
i.fa.fa-th { background: url(../img/se.png) no-repeat center; }
i.fa.fa-qrcode { background: url(../img/at.png) no-repeat center; }
i.fa.fa-table { background: url(../img/as.png) no-repeat center; }
i.fa.fa-table2 { background: url(../img/ll.png) no-repeat center; }
i.fa.fa-cubes { background: url(../img/co.png) no-repeat center; }
i.fa.fa-bar-chart { background: url(../img/fr.png) no-repeat center; }
i.fa.fa-cog { background: url(../img/ma.png) no-repeat center; }
i.fa.fa-sliders { background: url(../img/ma.png) no-repeat center; }

i.fa  { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); background-size: contain !important; }
i.fa:hover { -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%); }


.active-menu i.fa  { -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%); }


div#chart1 {
    height: 300px;
}


div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{

}


/* alternative styles added by Anwar */
button.altSIbut, div.altSIbut {border:none;background:none;padding:0px;margin-top:7px}
div#google_ajax_error {display:none}

label.loginLabel {
	width:87px;
}

ul.nav:nth-child(2) li p.navbar-text { margin-top:0px}

.nudgright {margin-left:8px}

#content-index-query, #content-index-query input {
  width:90%;
}

.content-filters {
  width:25%;
  padding-right: 20px;
}

.content-results {
  width:75%;
}

.backtowell {
  background: #f5f5f5;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.content-thumbnail {
  /* set the dimensions manually so the page holds form in the case of missing thumbnails */
  width:  130px;
  height: 120px;
  padding-top: 40px;
}

.content-desc {
  width: 70%;
}

.content-title {
    color: blue;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    width: 49%;
}
.content-publisher {
  font-weight: normal;
  font-size: 0.9em;
  display: inline-block;
  position: relative;
  /*right: 110px;*/
  text-align: center;
  border-radius: 25px;
  background: #51AE65;
  padding: 0px 10px;
 /* width: 190px;*/
/*  height: 20px;*/
  float:right;
}

.content-publisher a {
  color: whitesmoke;

}

.content-links {
  margin: 0 10px;
}

#main-menu .sub-menu {
    display: none;
    margin-bottom: 10px;
    list-style: none;
    padding: 9px 0px;
    background: #777;
}


.pre-data-table {
  margin-bottom: 10px;
}

#flash-message {
  font-weight: bold;
  width:50%;
  margin: 5 auto;
  border: 1px solid #000;
  text-align: center;
  padding: 5px;
}

#extension-wrapper {
   background: none repeat scroll 0 0 #ebebeb;
    min-height: 1200px;
}

#extension-header {
  margin: 20px;
}

#extension-body {
  min-height: 400px;

}


.form-inline.undo-overrides .form-group {
  margin:0;
  padding:0;
}

.content-index-filterlink {
  display:block;

}

.alert-small {
  padding: 5px;
}

.navbar-right {
    background: #ebebeb;
}


.panel-body:not(.default) {
    padding: 0px;
}

form#dataGridFormFilter {
    padding: 20px 30px 0px 30px;
    background: #44a657;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 17px;
	margin: 0px;
}

.panel-default {
    background: transparent;
}

label {
    font-weight: 300;
    margin-right: 11px;
}

.btn-primary {
    color: #fff;
    background-color: #232730;
    border-color: #232730;
    padding: 6px 26px;
    text-transform: uppercase;
}

.btn-primary:hover {
    color: #fff;
    background-color: #44a657;
    border-color: #44a657;
}

.pre-data-table, .btn-default, .panel-body .btn-primary, button.pull-right, #schoolmanagement-details-form-enable {
    color: #fff;
    background-color: #44a657;
    border-color: #44a657;
}

.pre-data-table:hover, .btn-default:hover, .panel-body .btn-primary:hover, button.pull-right:hover, #schoolmanagement-details-form-enable:hover {
    color: #44a657;
    background-color: #fff;
    border-color: #fff;
}



#dataGridFormFilter .btn-primary:hover {
    color: #44a657;
    background-color: #fff;
    border-color: #fff;
}


.panel-body hr {
    margin-top: 0x;
    margin: 0px;
    border: 0;
    border-top: none;
    height: 0px;
}

.dataTableGrid thead {
    background: #757575;
    color: rgba(255,255,255,0.8);
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}


.dataTableGrid thead a {
    color: rgba(255,255,255,0.8);
    padding-left: 15px;
}

tbody td a {
    padding-left: 15px;
}

.dataTableGrid thead th {
    font-weight: 400;
    letter-spacing: 2px;
}

.dataTableGrid>thead>tr>th {
    padding: 8px;
}

tbody {
    background: white;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #44a657;
    border-color: #44a657;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #44a657;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li, .pagination>li {

    padding: 0px!important;
    border: 0px!important;
    margin: 0px!important;

}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 10px;
}

.table-condensed tr td:first-child a, .table-condensed tr td:first-child{/* color: #44a657; font-weight: bold; font-size: 16px;*/}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border: 0;
}

.nav-tabs {
    border-bottom: none;
    background: #44a657;
    color: #232730;
    padding-left: 20px;
    border-radius: 5px 5px 0px 0px;
}

.nav-tabs a{ color: #232730; }

.nav-tabs>li {
    float: left;
    background: #ebebeb;
    margin: 10px 0px 0px 12px;
    border-radius: 5px 5px 0px 0px;
}

.nav-tabs>li>a {
    border: 0px;
    border-radius: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px;
    border-bottom-color: #fff;
    padding: 7px 20px;
    border-radius: 5px 5px 0px 0px;
}

.nav-tabs>li>a {
    margin-right: 0px;
    font-size: 17px;
    font-weight: 300;
	}

.nav-tabs>li>a:hover {
    border-color: inherit;
    border-radius: 5px 5px 0px 0px;
    background: #fff;
}

.tab-content>.active {
    display: block;
    margin: 0px 60px;
}

.tab-pane strong {
    color: #44a657;
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0px;
    display: block;
}

.tab-pane .table-bordered {
    border: none;
    border-bottom: 1px solid #eee;
}


.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	    border: 0 !important;
}

.table-bordered th {
    font-weight: 300;
    font-size: 14px;
    color: #adb3ba;
}

.table-bordered td {
    font-weight: 400;
    font-size: 14px;
}

#contacts .table-bordered td {
  /*  font-weight: 600;*/
    font-size: 14px;
}

.table-bordered thead {
    background: #fff;
}

.table-bordered thead th {
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
}

.table-bordered thead tr {
    border-bottom: none;
    background: #757575;
    color: white;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: inherit;
    font-weight: 100;
}
.label {
    padding: 6px 0px;
}


a {
    color: #44a657;
    text-decoration: none;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #44a657;
    border-top: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -2px;
}

.panel-footer  a{ color: #333; }

.form-control {
    border: 1px solid #44a657;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px;
    border-radius: 4px;
}

.nv-bar:nth-of-type(3), .nv-slice:nth-of-type(3), .nv-series:nth-of-type(3) .nv-legend-symbol {
    fill: #b0dc7a !important;
    stroke: #b0dc7a !important;
}

.nv-bar:nth-of-type(2), .nv-slice:nth-of-type(2), .nv-series:nth-of-type(2) .nv-legend-symbol {
    fill: #74c372 !important;
    stroke: #74c372 !important;
}

.nv-bar:nth-of-type(1), .nv-slice:nth-of-type(1), .nv-series:nth-of-type(1) .nv-legend-symbol  {
    fill: #26a15d !important;
    stroke: #26a15d !important;
}

.nv-bar:nth-of-type(5), .nv-slice:nth-of-type(5), .nv-series:nth-of-type(5) .nv-legend-symbol {
    fill: #3787bc !important;
    stroke: #3787bc !important;
}

.nv-bar:nth-of-type(4), .nv-slice:nth-of-type(4), .nv-series:nth-of-type(4) .nv-legend-symbol  {
    fill: #81b6d5 !important;
    stroke: #81b6d5 !important;
}


.label-Default {
    background-color: #b0dc7a !important;
}
.label-Success {
    background-color: #74c372 !important;
}
.label-Primary  {
    background-color: #26a15d !important;
}
.label-Warning  {
    background-color: #3787bc !important;
}
 .label-Info  {
    background-color: #81b6d5 !important;
}




.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.tag {
  color: #FFFFFF !important;
  text-transform: uppercase;
  padding: 3px 3px 3px 3px;
  font-size: 12px;
}

.tag-subjects, .tag-subject {
  border-color: #74C372 !important;
  background-color: #74C372 !important;
}

.tag-types, .tag-type, .tag-resource_type {
  border-color: #81B6D5 !important;
  background-color: #81B6D5 !important;
}

.tag-grades, .tag-grade {
  border-color: #3787BC !important;
  background-color: #3787BC !important;
}

.tag-standards, .tag-standard {
  border-color: #B0DC7A !important;
  background-color: #B0DC7A !important;
}

.tag-publisher {
  border-color: #51AE65 !important;
  background-color: #51AE65 !important;
}

.filter_active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: 0.75;
}

.table-bordered tbody tr td:first-child a, .table-bordered tbody tr td:first-child {
    /*font-weight: bold;*/
}

form#dataGridFormFilter .btn-primary{
    color: #44a657;
    background-color: #fff;
    border-color: #fff;
}


form#dataGridFormFilter .btn-primary:hover{
    color: #fff;
    background-color: #555;
    border-color: #555;
}

button a.datatable-get-csv {
  /* height: 38px !important;*/
  position: relative;
  float: none;
  margin-right: 0px;
  padding: 0px !important;
  border: 0px solid #999;
  cursor: pointer;
  font-size: 0.88em;
  color: inherit !important;
  white-space: nowrap;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #CCC;
  background: none;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

button a.datatable-get-csv:hover {
  border: 0px solid #666;
  text-decoration: none !important;
  -webkit-box-shadow: 0px 0px 0px #999;
  -moz-box-shadow: 0px 0px 0px #999;
  background: none;
}

form.form-inline {
    background: #fff;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
}

form.default-form-inline {
    background: none;
    padding: 0px;
    border-radius: 0px;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
}

.loading-box {
  position: relative;
}
.loading-box .loading-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff url('../img/loading2.gif') no-repeat center;
  opacity: 0.7;
  top: 0;
  left: 0;

}
.response-message p {
  padding: 0 0 5px 0;
}

/* 
* Since the previous devs decided to customize a general use class of table-bordered and then bury the 
* heirarchical html in the widget system, I am overriding the bold text via a more specific declaration with a 
* custom classname here.
*/
#contacts .student-contacts td {
  font-weight: normal;
}
