#managesections thead tr > th:nth-child(n + 8),
#managesections tbody tr > td:nth-child(n + 8) {
	width: 30px;
	text-align: center;
	padding-left: 5px; padding-right: 5px;
}

button#sections-filter {
	margin: 0 10px;
	vertical-align: bottom;
}

.sections-grade {
	display: inline-block;
	padding: 2.9px;
	width: 20px;
	text-align: center;
}

.sections-a {
	background-color: #26a15d;
}

.sections-b {
	background-color: #74c372;
}

.sections-c {
	background-color: #b0dc7a;
}

.sections-d {
	background-color: #81b6d5;
}

.sections-f {
	background-color: #3787bc;
}
