body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:959px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:0px;
  width:749px;
  height:609px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:609px;
}
#u1 {
  position:absolute;
  left:2px;
  top:296px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:0px;
  width:200px;
  height:665px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:665px;
}
#u4 {
  position:absolute;
  left:2px;
  top:324px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:0px;
  width:195px;
  height:87px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
}
#u6 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:205px;
  top:0px;
  width:2px;
  height:189px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:189px;
}
#u8 {
  position:absolute;
  left:2px;
  top:86px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:205px;
  top:189px;
  width:2px;
  height:449px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:449px;
}
#u10 {
  position:absolute;
  left:2px;
  top:216px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:10px;
  width:190px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
