.chart .selected {
	
}
 svg {
    display: block;
}
 .bar-chart, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.pie-chart svg {
    display: block;
   	margin: auto;
    max-height: 350px !important;
    width: 100% !important;
}
.pie-chart {
    margin: 0px;
    padding: 0px;
   /* height: 100%; */
    width: 100%;
}

.selected-label text {
    font-weight: bold;
    fill: #fff !important;
    font-size: 18px;
    text-shadow: 1px 1px 4px #000;

}
.selected text {
    font-size: 32px;
    fill: inherit !important;
    stroke: #000 !important;
    stroke-width: 0.5;
}