.chart .selected {
	
}
 svg {
    display: block;
}
 .bar-chart, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.pie-chart svg {
    display: block;
   	margin: auto;
    max-height: 350px !important;
    width: 100% !important;
}
.pie-chart {
    margin: 0px;
    padding: 0px;
   /* height: 100%; */
    width: 100%;
}